/*Header*/

header {
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  }

.Logo {
  color: MediumAquamarine;
  display: flex;
  flex-grow: 1;
  padding-left: 30px;
  align-items: center;
}

.Logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

header nav {
  padding-right: 40px;
}

.Nav-Links {
  display: inline-block;
}

nav span {
  padding: 10px;
}

/*Content*/

.content {
  display: flex;
  width: 1300px;
  border: 1px solid black;
  padding: 100px 40px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 78px;
  margin-left: auto;
  padding-top: 116px;
  justify-content: space-between;
}

.column {
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  margin: 0px auto;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.image-text {
  border: 1px solid black;
  width: 100%;
}

.article {
  border: 1px solid black;
}
